/*@font-face {
	src: url("/fonts/SSF4_ABUKET.ttf");
}*/

#title_screen{
  -fx-background-image: url("img/Street_Fighter_logo.png");
  -fx-background-repeat: stretch;   
  -fx-background-size: 1280 720;
  -fx-background-position: center center;
}

#character_selection{
  -fx-background-image: url("img/VS.png");
  -fx-background-color: black;
  -fx-background-repeat: stretch;   
  -fx-background-size: 1280 720;
  -fx-background-position: center center;
}

#stage
{
  -fx-background-image: url("stage/default.jpg");
  -fx-background-color: black;
  -fx-background-repeat: stretch;   
  -fx-background-size: 1280 720;
  -fx-background-position: center center;
}

.progress-bar > .track {
  -fx-text-box-border: black;
  -fx-control-inner-background: transparent;
}

.progress-bar
{
	-fx-accent: "#64d829";
}

/*
#character_name_J1, #frame_count
{
	-fx-font-family: "SSF4 ABUKET";
}*/